extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      section.welcome
        .welcome__bg 
          img(src="img/welcome.jpg", alt="")
        .container(data-aos="fade-up")
          h1.welcome__title В январе 2023г. мы запускаем новый облачный сервис по ведению кооперативного документооборота
          p.welcome__text Кооперативам: регистрируйтесь сейчас <br>и получите год приоритетного обслуживания!
          .welcome__btn 
            button.btn.btn--white-border подать заявку
      // /welcome

      // statistics
      section.statistics
        .container 
          .statistics__head 
            .row.gy-1 
              .col-md-6(data-aos="fade-up")
                h2.statistics__title Основная цель ЦСПО —  Экономический подъем страны за счет использования возможностей кооперации
              .col-md-6(data-aos="fade-up") 
                .statistics__subtitle Задачи ЦСПО:
                ul.statistics__list 
                  li Защита социально-ориентированного кооперативного бизнеса
                  li Организация сотрудничества между кооперативами
                  li Создание института Общественно-потребительского заказа
          .statistics__items(data-aos="fade-up")
            .row 
              .col-md-4 
                .statistics__item 
                  .statistics__num &#62;23 000
                  .statistics__text Кооперативов уже зарегистировались в нашей системе
              .col-md-4 
                .statistics__item 
                  .statistics__num +25%
                  .statistics__text В среднем выигрывают кооперативы от сотрудничества с нами
              .col-md-4 
                .statistics__item 
                  .statistics__num ~15 мин
                  .statistics__text Занимает процесс регистрации и первичной консультации
      // /statistics

      // services
      section.services
        .container 
          .services__head 
            h2.title(data-aos="fade-right") что мы предлагаем Кооперативам:
            .services__controll(data-aos="fade-left")
              .services__arrow.services__arrow--prev 
                svg(class="icon-arrow-long-right")
                  use(xlink:href="img/sprite.svg#arrow-long-right")
              .services__arrow.services__arrow--next 
                svg(class="icon-arrow-long-right")
                  use(xlink:href="img/sprite.svg#arrow-long-right")
          .services__slider(data-aos="fade-up") 
            #sliderServices 
              .swiper-wrapper 
                .swiper-slide 
                  mixin services-item(imgUrl, title, text)
                    .services__item 
                      a(href="#").services__img 
                        img(src= imgUrl, alt="")
                      h3.services__title 
                        a(href="#")!= title
                      p.services__text= text
                      .services__btn 
                        a(href="#").btn.btn--green-border подробнее
                  +services-item('img/services/img1.jpg', 'Помощь с ноля в создании и запуске Потребительской кооперации', 'Покупаем участок в одном из СНТ Новой Москвы в пешей доступности от метро. Размежевываем участок на 3 части. На каждом участке строим дом 100 кв.м. с отделкой White Box.')
                .swiper-slide 
                  +services-item('img/services/img2.jpg', 'Обучение кооперации', 'Покупаем участок в одном из СНТ Новой Москвы в пешей доступности от метро. Размежевываем участок на 3 части. На каждом участке строим дом 100 кв.м. с отделкой White Box.')
                .swiper-slide 
                  +services-item('img/services/img3.jpg', 'Юридическая помощь', 'Покупаем участок в одном из СНТ Новой Москвы в пешей доступности от метро. Размежевываем участок на 3 части. На каждом участке строим дом 100 кв.м. с отделкой White Box.')
                .swiper-slide 
                  +services-item('img/services/img4.jpg', 'Бухгалтерская помощь / Бухгалтерия на аутсорсинге', 'Покупаем участок в одном из СНТ Новой Москвы в пешей доступности от метро. Размежевываем участок на 3 части. На каждом участке строим дом 100 кв.м. с отделкой White Box.')
                .swiper-slide 
                  +services-item('img/services/img5.jpg', 'Помощь в ведении документооборота', 'Покупаем участок в одном из СНТ Новой Москвы в пешей доступности от метро. Размежевываем участок на 3 части. На каждом участке строим дом 100 кв.м. с отделкой White Box.')
                .swiper-slide 
                  +services-item('img/services/img6.jpg', 'Защита перед государственными структурами', 'Покупаем участок в одном из СНТ Новой Москвы в пешей доступности от метро. Размежевываем участок на 3 части. На каждом участке строим дом 100 кв.м. с отделкой White Box.')
      // /services

      // services2
      section.services2
        .container 
          h2.title(data-aos="fade-up") Что мы предлагаем Кооперативам:
          .services2__items 
            .row
              .col-lg-4.col-sm-6
                mixin services2-item(icon, title)
                  .services2__item(data-aos="fade-up")
                    a(href="#").services2__icon 
                      img(src= icon, alt="")
                    h3.services2__title 
                      a(href="#")= title
                    .services2__btn 
                      a(href="#").btn.btn--green-border подробнее
                +services2-item('img/services-icon-1.svg','Помощь с ноля в создании и запуске Потребительской кооперации')
              .col-lg-4.col-sm-6
                +services2-item('img/services-icon-2.svg','Обучение кооперации')
              .col-lg-4.col-sm-6
                +services2-item('img/services-icon-3.svg','Юридическая помощь')
              .col-lg-4.col-sm-6
                +services2-item('img/services-icon-4.svg','Бухгалтерская помощь / Бухгалтерия на аутсорсинге')
              .col-lg-4.col-sm-6
                +services2-item('img/services-icon-5.svg','Помощь в ведении документооборота')
              .col-lg-4.col-sm-6
                +services2-item('img/services-icon-6.svg','Защита перед государственными структурами')
      // /services2

      // team
      section.team
        .container 
          h2.title(data-aos="fade-up") Наша команда:
          .team__slider 
            #sliderTeam 
              .swiper-wrapper 
                .swiper-slide 
                  mixin team-item(img, title, text)
                    .team__item(data-aos="fade-up")
                      .team__img 
                        img(src= img, alt="")
                      h3.team__title= title
                      p.team__text= text
                  +team-item('img/team/img1.jpg','Андрей Пивоваров','Ведущий аналитик, бизнес-консультант, ')
                .swiper-slide 
                  +team-item('img/team/img2.jpg','Сергей гаврилов','Ведущий аналитик, бизнес-консультант, ')
                .swiper-slide 
                  +team-item('img/team/img3.jpg','Марк Семеницкий','Ведущий аналитик, бизнес-консультант, ')
                .swiper-slide 
                  +team-item('img/team/img4.jpg','Маргарита Смирнова','Ведущий аналитик, бизнес-консультант, ')
                .swiper-slide 
                  +team-item('img/team/img5.jpg','Вероника Иванова','Ведущий аналитик, бизнес-консультант, ')
                .swiper-slide 
                  +team-item('img/team/img6.jpg','Семен максимов','Ведущий аналитик, бизнес-консультант, ')
      // /team

      // develop
      section.develop
        .container 
          h2.title(data-aos="fade-up") Планы развития:
          .develop__item(data-aos="fade-left")
            .row.gy-1
              .col-md-6 
                .develop__img 
                  img(src="img/develop/img1.jpg", alt="")
              .col-md-6 
                .develop__content 
                  h3.develop__title Этап 1
                  .develop__date Январь, 2023
                  .develop__text 
                    p Запуск облачного сервиса с поддержкой функций:
                    ul 
                      li Создание и ведение ЭЦП клиентов кооперативов
                      li Документооборот как сервис
                  .develop__btn 
                    button.btn.btn--green-border стать резидентом
          .develop__item(data-aos="fade-right")
            .row.gy-1
              .col-md-6.order-md-2.order-0
                .develop__img 
                  img(src="img/develop/img2.jpg", alt="")
              .col-md-6.order-1
                .develop__content 
                  h3.develop__title Этап 2
                  .develop__date Март, 2023
                  .develop__text 
                    ul 
                      li Запуск бухгалтерского сервиса
                      li Проведение стандартных кооперативных операций
                      li Экспорт в 1С и другие системы
                  .develop__btn 
                    button.btn.btn--green-border стать резидентом
          .develop__item(data-aos="fade-left")
            .row.gy-1
              .col-md-6 
                .develop__img 
                  img(src="img/develop/img3.jpg", alt="")
              .col-md-6 
                .develop__content 
                  h3.develop__title Этап 3
                  .develop__date Июнь, 2023
                  .develop__text 
                    ul 
                      li Запуск системы кооперативных взаиморасчетов на базе современных блокчейн- технологий
                  .develop__btn 
                    button.btn.btn--green-border стать резидентом
      // /develop

      // benefit
      section.benefit
        .container 
          h2.title(data-aos="fade-up") в чем основные преимущества нашей платформы:
          .benefit__item(data-aos="fade-up")
            .row 
              .col-md-6 
                h3.benefit__title Автоматизация
              .col-md-6 
                p.benefit__text Современный тренд – автоматизация отлаженных бизнес- процессов
          .benefit__item(data-aos="fade-up")
            .row 
              .col-md-6 
                h3.benefit__title Экспертность
              .col-md-6 
                p.benefit__text Благодаря автоматизации массовый доступ к лучшим экспертам. Нет нужды иметь большой штат делопроизводителей. Экспертная помощь Центрального Союза Потребительских Обществ в решении различных вопросов
          .benefit__item(data-aos="fade-up")
            .row 
              .col-md-6 
                h3.benefit__title Популяризация
              .col-md-6 
                p.benefit__text Наша задача – популяризация кооперация
          .benefit__item(data-aos="fade-up")
            .row 
              .col-md-6 
                h3.benefit__title Сервис ЭЦП
              .col-md-6 
                p.benefit__text Для соблюдения всех правовых норм РФ
          .benefit__item(data-aos="fade-up")
            .row 
              .col-md-6 
                h3.benefit__title Документооборот
              .col-md-6 
                p.benefit__text Решает задачу подписания и хранения документов. Больше не нужно хранить тонны бумажных архивов
          .benefit__item(data-aos="fade-up")
            .row 
              .col-md-6 
                h3.benefit__title Бухгалтерия
              .col-md-6 
                p.benefit__text Автоматизированное создание проводок по типовым кооперативным операциям
          .benefit__item(data-aos="fade-up")
            .row 
              .col-md-6 
                h3.benefit__title Взаиморасчеты
              .col-md-6 
                p.benefit__text Платформа для финансовых взаиморасчетов между кооперативами
      // /benefit

      // news
      section.news
        .container 
          .news__head 
            h2.news__title(data-aos="fade-right") Новости:
            a(href="#").news__more(data-aos="fade-left") Все новости
          .news__items 
            .row.gy-2
              .col-sm-6.col-lg-4
                .news__item(data-aos="fade-up")
                  a(href="#").news__img 
                    img(src="img/news/img1.jpg", alt="")
                  .news__date 01 декабря 2022 года
                  .news__subtitle 
                    a(href="#") Сублимированный анализ зарубежного опыта
                  p.news__text Рекламный блок, суммируя приведенные примеры, недостаточно специфицирует фирменный фирменный стиль. 
                  .news__btn 
                    a(href="#").btn.btn--white-border подробнее
              .col-sm-6.col-lg-4
                .news__item(data-aos="fade-up")
                  a(href="#").news__img 
                    img(src="img/news/img2.jpg", alt="")
                  .news__date 01 декабря 2022 года
                  .news__subtitle 
                    a(href="#") Почему недостижимо привлечение аудитории?
                  p.news__text Потребление стабилизирует conversion rate. Дело в том, что имидж пока плохо обуславливает популярный нестандартный подход.
                  .news__btn 
                    a(href="#").btn.btn--white-border подробнее
              .col-sm-6.col-lg-4
                .news__item(data-aos="fade-up")
                  a(href="#").news__img 
                    img(src="img/news/img3.jpg", alt="")
                  .news__date 01 декабря 2022 года
                  .news__subtitle 
                    a(href="#") Комплексный фирменный стиль — актуальная национальная задача
                  p.news__text Взаимодействие корпорации и клиента отталкивает побочный PR-эффект.
                  .news__btn 
                    a(href="#").btn.btn--white-border подробнее
      // /news

    include core/footer.pug
